/*****************/
/* Page Elements */
/*****************/

html { 
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

.alegreya {
    font-family: 'Alegreya Sans SC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-bottom: 20px;
}

hr {
    margin-bottom: 40px;
}


/*********/
/* Links */
/*********/
a {
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
         -o-transition: 0.3s;
        -ms-transition: 0.3s;
            transition: 0.3s;
}

a:link { color: #82c5ff; }
a:active { color: #82c5ff; }
a:hover { color: #fff!important; }
a:visited { color: #82c5ff; } 


/**********/
/* Navbar */
/**********/

.background {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .80);
    border: 0;
}

.navbar-nav a:link { color: #fff!important; }
.navbar-nav a:active { color: #fff!important; }
.navbar-nav a:hover { color: #222!important; background-color: #82c5ff!important;}
.navbar-nav a:visited { color: #fff; }

.navbar-brand { color: #fff!important; }
.navbar-brand:hover { color: #82c5ff!important; }
.navbar-toggle { border: 0; }
.navbar-toggle .icon-bar { background-color: #fff; }
.navbar-collapse { border: 0; }


/**************************/
/* General Page Structure */
/**************************/

.clear-nav {
    position: relative;
    width: 100%;
    height: 50px;
}

.section {
    position: relative;
    top: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}


/********/
/* Home */
/********/

.background-img {
    background: url('/img/bg_gs.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hi {
	width: 164px;
}

.intro {
    font-size: 46px;
    padding: 10px;
    margin: 10px 0;
}

.intro-small {
	padding: 5px;
	margin: 0 50px;
	font-size: 18px;
}

.cta {
	width: 272px;
}


/* This parent can be any width and height */
.block {
    margin-top: -50px;
    text-align: center;
    height: 100%;
}

@media (max-width: 550px) {
    .block {
        height: 30%;
    }
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
    display: inline-block;
    vertical-align: middle;
}


/*********/
/* About */
/*********/

form {
    margin: 0 auto;
    margin-top: 70px;
    width: 60%;
}

.social-icons {
    margin: 50px 0 0 0;
}

.social-icon {
    padding: 0 10px;
}

.btn-primary {
    background-color: #82c5ff;
    border-color: #82c5ff;
    color: #222;
    -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
     -o-transition: 0.3s;
    -ms-transition: 0.3s;
        transition: 0.3s;
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
    color: #222;
}

.btn-primary:active {
    background-color: #82c5ff;
    border-color: #82c5ff;
}

.form-response {
    display: inline;
    margin-left: 10px;
}

.success {
    color: #aef093;
}

.fa-check {
    padding-right: 5px;
}

.work {
    margin-top: 40px;
}


/*************/
/* Portfolio */
/*************/

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .5s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.img-responsive {
    margin: 0 auto;
}

.project-title {
    padding: 5px 0;
    font-size: 16px;
}

.project-img {
    float: right;
    padding: 0 0 15px 15px;
}

.gallery {
    margin-top: 25px;
    margin-bottom: 25px;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
}
 
.video iframe {
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.arrow {
    padding: 10px 5px;
}

.fa-file-text {
    padding-left: 10px;
    padding-right: 5px;
}

ul.report {
    list-style: none;
}


/* Landscape phones and down */
@media (max-width: 767px) {
	form {
		width: 95%;
	}
}



/********/
/* Blog */
/********/

article h1 {
    color: #82c5ff;
}

pre {
    color: #fff;
    background-color: #333;
    border: 1px solid #cccccc;
}

code {
    color: #333;
    background-color: #eee;
}